:root {
  --light-green: #A6CF98;
  --dark-green: #557C55;
  --light-red: #FA7070;
}

body {
  background-color: var(--light-green);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
  
header, footer {
  background-color: var(--dark-green);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.fs-4 {
  color: white;
  font-weight: bold;  
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--light-green);
}

.nav-item {
  color: white;
}
