:root {
  --light-green: #A6CF98;
  --dark-green: #557C55;
  --bright-green: #F2FFE9;
  --light-red: #FA7070;
  --white: white;
}

header, footer {
  background-color: var(--dark-green);
}

* {
  padding: 0;
  margin: 0;
}
footer {
  position: absolute;
  width: 100%;
  bottom: -15;
}

.fs-4 {
  font-weight: bold;
  color: var(--bright-green);
}

.nav-link {
  color: var(--bright-green);
}

.nav-link:hover {
  color: var(--light-green);
}

.nav-link:active {
  color: var(--light-red);
}


body {
  background-color: var(--light-green);
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  box-sizing: border-box;
}

h1 {
  color: var(--dark-green);
  font-style: italic;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
