body {
  background-color:#F2FFE9;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #557C55;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  color: #FA7070;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

form {
  width: 300px;
  margin: 0 auto;
  display: inline-flex;
}

 fieldset { 
  background: #A6CF98;
  border: 5px solid white;
  display: flex;
  flex-direction: column;
}

legend {
  padding: 10px; 
  background: #FA7070;
  color: #F2FFE9;
}

.search-btn {
  cursor: pointer;
}

.display-img{
  border-radius: 50%;
}


.display-name{
  display: none;
}
.display-name:hover{
  overflow:scroll
} 

section {
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 100px 0;
background-color: #F2FFE9;
}
#image-container {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template: auto/repeat(auto-fit, minmax(250px, 1fr)); 
}
.recipe-item {
  width: 100%;
  border-radius: 5px;
  background-color: #A6CF98;
  padding: 10px;
  overflow: hidden;
}
.recipe-item .title {
  color: #FA7070;
  margin: 20px 10px 0 0;
  font-size: 25px;
  /* font-weight: 400; */
}
.recipe-item img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.view-btn {
  text-decoration: none;
  text-align: center;
  width: 80px;
  padding: 10px 0;
  background-color: #FA7070;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 100;
  margin-top: 20px;
  border-radius: 4px;
  align-self: flex-end;
}

.tooltip {
position: relative;
display: inline-block;
color: #FA7070; 
border-bottom: 1px 
}


.tooltip .tooltiptext {
visibility: hidden;
width: 200px;
background-color: #A6CF98;
color: #fff;
text-align: left;
padding: 5px 0;
border-radius: 6px;


position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -150px;


opacity: 0;
transition: opacity 0.3s;
}


.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;

}