:root {
  --light-green: #A6CF98;
  --dark-green: #557C55;
  --light-red: #FA7070;
}

h1 {
  font-size: 36px;
  color: var(--light-red);
  text-align: center;
}

h3 {
  color: var(--light-red);
}

body {
  background-color: var(--light-green);
  font-size: 16px;
  margin: 0;
  padding: 0;
}
  
header, footer {
  background-color: var(--dark-green);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.fs-4 {
  color: white;
  font-weight: bold;  
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: var(--light-green);
}

.nav-item {
  color: white;
}

.hide {
  display: none;
}

.recipe-box {
  border: 2px solid black;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.build-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-recipe h1, .build-recipe h3, .build-recipe p {
  margin: 10px 0;
}

.add-ingredient-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

