:root {
  --dark-green: #557C55;
  --light-green: #A6CF98;
  --pink: #FA7070;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: square;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
  background-color: var(--dark-green);
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

body {
  background-color: var(--light-green);

}

h1 {
  font-size: 36px;
  color: var(--pink);
}

h3 {
  color: var(--pink);
}

.build-recipe {
  display: flex;
  flex-direction: column;
}

.hide {
  display: none;
}

